@tailwind base;
@tailwind components;
@tailwind utilities;

.rowbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.colbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}